<div class="jumbotron jumbotron-fluid text-center">
    <h1>Eat that Burger!</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <br />
            <div class="accordion" id="accordionExample">
                <div class="card borders-0">
                    <div class="card-header rounded-top bun" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <h3>Burgers 2 Eat</h3>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse relish show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"><h5>Burger Name</h5></th>
                                        <th scope="col"><h5>Devour?</h5></th>
                                    </tr>
                                </thead>
                                {{#each burgers}}
                                {{#unless devoured}}
                                {{> burgers/burger-block devoured=false}}
                                {{/unless}}
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header rounded-pill border-0 patty" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <h3>Devoured Burgers</h3>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse tomato" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col"><h5>Burger Name</h4></th>
                                        <th scope="col"><h5>Devour?</h5></th>
                                    </tr>
                                </thead>
                                {{#each burgers}}
                                {{#if devoured}}
                                {{> burgers/burger-block devoured=true}}
                                {{/if}}
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header rounded-bottom bun" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">

                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Add Burger</h1>
                </div>
                <div class="card-body">
                    <form class="create-form">

                        <div class="form-group">
                            <label for="newburger">Burger Name:</label>
                            <input type="text" id="newburger" name="name">
                        </div>

                        <button type="submit">Add Burger</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>