<tbody>
	<tr>
		<td>
			{{burger_name}}
		</td>
		<td>
			{{#if devoured}}
			(Eaten)
			{{else}}
			<button class="devour" data-id="{{id}}" data-newdevour="{{devour}}">
				Devour
			</button>
			{{/if}}
		</td>
	</tr>
</tbody>